:root {
  --main-color-dark: #FF6900;
  --main-color-light: #00B2A9;
  --main-color-dark2: #303E48;
  --secondary-color-light:#00B2A9;
  --secondary-color-dark:;
  --logo-URL: url('header-logo.png');
  --secondary-color-light:;
  --secondary-color-dark:;
}

#logo{
  content: var(--logo-URL);
}
